body{
  margin:0;
}
.top{
  background-color:grey;
  overflow:hidden;
}
.top a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 30px 20px;
  text-decoration: none;
  font-size: 17px;
}
.top a:hover {
  background-color:white;
  color: black;
}
.about{
  margin-left:600px;
}
.pricing{
  margin-left:60px;
}
#dollar{
  height:20px;
  width:20px;
  margin-bottom:-4px;
  margin-right:5px;
}
#mail{
  height:20px;
  width:20px;
  margin-bottom:-4px;
  margin-right:5px;
}
.contact{
  margin-left:60px;
}
.contacts{
  background-color:#D3D3D3;
  overflow:hidden;
}
#contactme{
  text-align:center;
  font-size:200%;
  font-family:sans-serif;
  text-decoration:none;
  margin-top:50px;
}
#questions{
  text-align:center;
  font-size:130%;
}
#location{
  width:25px;
  height:25px;
  margin-left:15px;
  margin-right:10px;
  margin-bottom:-4px;
}
#telephone{
  width:25px;
  height:25px;
  margin-left:15px;
  margin-right:10px;
  margin-bottom:-3px;
}
#email{
  width:25px;
  height:25px;
  margin-left:15px;
  margin-right:10px;
  margin-bottom:-3px;
  margin-top:25px;
}
#emailing{
  font-size:150%;
}
#locationing{
  font-size:150%;
}
#phoning{
  font-size:150%;
}
#name{
  font-size:120%;
  margin-left:-40px;
  margin-top:20px;
  height:30px;
}
#emails{
  font-size:120%;
  margin-left:-40px;
  margin-top:10px;
  height:30px;
}
#subject{
  font-size:120%;
  margin-left:-40px;
  margin-top:10px;
  height:30px;
}
#message{
  font-size:120%;
  margin-left:-40px;
  margin-top:10px;
  height:30px;
}
#submit{
  border:none;
  color:white;
  padding:15px 32px;
  cursor:pointer;
  font-size:110%;
  margin-left:20px;
  text-decoration:none;
  margin-bottom:40px;
}
#submit2{
  border:none;
  background-color:black;
  color:white;
  padding:15px 32px;
  cursor:pointer;
  font-size:110%;
  margin-left:-40px;
  text-decoration:none;
  margin-bottom:40px;
}
::placeholder{
  padding-left:10px;
}
.extra{
  background-color:black;
  overflow:hidden;
}
.end{
  clear:both;
  background-color:black;
  overflow:hidden;
  text-decoration:none;
}
#terms{
  display:inline-block;
  margin-left:170px;
  color:white;
  text-decoration:none;
  font-size:150%;
}
#terms a{
  color:white;
}
#educational{
  text-align:center;
  color:white;
  margin-top:40px;
}
.Importantthings{
  color:white;
  text-align:center;
  display:block;
  background-color:black;
  overflow:hidden;
}
#first{
  margin-top:-10px;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  height:50px;
  width:54px;
}
#arrowup{
  width:23px;
  height:25px;
}
#myBtn:hover {
  background-color:white;
}
