body{
  margin:0;
}
.top{
  overflow:hidden;
  background-color:grey;
}
.top a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 30px 20px;
  text-decoration: none;
  font-size: 17px;
}
.top a:hover {
  background-color:white;
  color: black;
}
.about{
  margin-left:600px;
}
.pricing{
  margin-left:60px;
}
#dollar{
  height:20px;
  width:20px;
  margin-bottom:-4px;
  margin-right:5px;
}
#mail{
  height:20px;
  width:20px;
  margin-bottom:-4px;
  margin-right:5px;
}
.contact{
  margin-left:60px;
}
.contents{
  background-color:#F0F3F4;
  overflow:hidden;
}
.secondtop{
  overflow:hidden;
  background-image:url("backgroundimage.jpg");
  height:600px;
  width:100%;
  background-repeat:no-repeat;
}
#bullet{
  width:40px;
  height:40px;
  margin-bottom:-10px;
  margin-right:10px;
  margin-left:-5px;
}
#start{
  color:white;
  font-size:500%;
  font-family:serif;
  margin-left:20px;
  margin-top:150px;
}
#motivation{
  color:white;
  font-size:150%;
  margin-top:-50px;
  margin-left:25px;
  margin-bottom:50px;
}
.button{
  border:none;
  background-color:grey;
  color:white;
  padding:15px 32px;
  cursor:pointer;
  font-size:120%;
  margin-left:20px;
  text-decoration:none;
}
.thirdbottom{
  background-color:white;
  overflow:hidden;
}
#welcome{
  margin-left:20px;
  font-size:250%;
  font-family:sans-serif;
}
#welcome1{
  margin-left:40px;
  font-size:250%;
  font-family:sans-serif;
  margin-top:-30px;
}
#tuitionpic{
  float:right;
  margin-right:30px;
  width:460px;
  height:320px;
}
#introo{
  margin-left:40px;
  font-size:180%;
}
#help{
  margin-left:40px;
}
#help1{
  margin-left:40px;
  margin-top:-15px;
}
#introductions{
  margin-left:40px;
  font-size:180%;
}
#context{
  margin-left:40px;
}
#context1{
  margin-left:40px;
  margin-top:-15px;
}
#reason{
  margin-left:40px;
}
ul.exclusive{
  list-style-type:circle;
  margin-left:20px;
}
.signup{
  background-color:#D3D3D3;
  overflow:hidden;
  margin-top:20px;
}
#waiting{
  font-size:200%;
  text-align:center;
  font-weight: bold;
  text-decoration:underline;
}
#link{
  font-size:200%;
  text-align:center;
}
#arrowdown1{
  height:30px;
  width:30px;
  margin-right:4px;
  position: relative;
  -webkit-animation-name: example;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 10000;
  animation-name: example;
  animation-duration: 1s;
}
@-webkit-keyframes example { /* block contains rule sets called keyframes. A keyframe defines the style that will be applied for that moment within the animation.*/
  0%   {left:0px; top:0px;}
  75%  {left:0px; top:20px;}
  100% {left:0px; top:0px;}
}
@keyframes example { /*rule specifies the animation code.*/
  0%   {left:0px; top:0px;}
  75%  {left:0px; top:20px;}
  100% {left:0px; top:0px;}
}
#arrowdown2{
  height:30px;
  width:30px;
  margin-right:4px;
  position: relative;
  -webkit-animation-name: example;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 10000;
  animation-name: example;
  animation-duration: 1s;
}
@-webkit-keyframes example {
  0%   {left:0px; top:0px;}
  75%  {left:0px; top:20px;}
  100% {left:0px; top:0px;}
}
@keyframes example {
  0%   {left:0px; top:0px;}
  75%  {left:0px; top:20px;}
  100% {left:0px; top:0px;}
}
#signingup{
  height:50px;
  width:400px;
  margin-left:430px;
  margin-bottom:50px;
}
#signingup a{
  text-decoration:none;
  font-size:150%;
}
a:hover{
  color:blue;
}
.end{
  clear:both;
  background-color:black;
  overflow:hidden;
  text-decoration:none;
}
#terms{
  display:inline-block;
  margin-left:170px;
  color:white;
  text-decoration:none;
  font-size:150%;
}
#terms a{
  color:white;
}
#educational{
  text-align:center;
  color:white;
  margin-top:40px;
}
.Importantthings{
  color:white;
  text-align:center;
  display:block;
  background-color:black;
  overflow:hidden;
}
#first{
  margin-top:-10px;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  height:50px;
  width:54px;
}
#arrowup{
  width:23px;
  height:25px;
}
#myBtn:hover {
  background-color:white;
}
.mySlides{
  display:none;
}
#testimonials{
  text-align:center;
  font-size:200%;
  font-family:sans-serif;
  margin-top:70px;
  margin-bottom:80px;
}
#testimonial1{
  width:90%;
  height:200px;
  margin-left:120px;
}
#testimonial2{
  width:70%;
  height:200px;
  margin-left:220px;
  margin-top:-20px;
}
#testimonial3{
  width:70%;
  height:220px;
  margin-left:210px;
}
